<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl73tYR_c5ErQ8Rb3A9xharhR3Mx-pDIo</string>
	<key>GCM_SENDER_ID</key>
	<string>146727781370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubeClone</string>
	<key>PROJECT_ID</key>
	<string>clone-ahmad-766d6</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-ahmad-766d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146727781370:ios:9f5b4cf366425869129a43</string>
</dict>
</plist>